In [23]:
import random
import string


import river
from river import preprocessing
from pprint import pprint
import pandas as pd

In [24]:

random.seed(42)
alphabet = list(string.ascii_lowercase)
X = [
    {
        'c1': random.choice(alphabet),
        'c2': random.choice(alphabet),
    }
    for _ in range(4)
]
pprint(X)

[{'c1': 'u', 'c2': 'd'},
 {'c1': 'a', 'c2': 'x'},
 {'c1': 'i', 'c2': 'h'},
 {'c1': 'h', 'c2': 'e'}]

In [41]:

oh = preprocessing.OneHotEncoder(sparse=True)
for x in X:
    print(oh.values)
    oh = oh.learn_one(x)

defaultdict(<class 'set'>, {})
defaultdict(<class 'set'>, {'c1': {'u'}, 'c2': {'d'}})
defaultdict(<class 'set'>, {'c1': {'u', 'a'}, 'c2': {'x', 'd'}})
defaultdict(<class 'set'>, {'c1': {'i', 'u', 'a'}, 'c2': {'h', 'x', 'd'}})

In [26]:
oh.values

defaultdict(set, {'c1': {'a', 'h', 'i', 'u'}, 'c2': {'d', 'e', 'h', 'x'}})

In [71]:
df_ = pd.DataFrame([{'c1':'a', 'c2':'c'},{'c1':'b', 'c2':'d'},{'c1':'a', 'c2':'e'} ])
display(df_)
oh.transform_many(df_)

  c1 c2
0  a  c
1  b  d
2  a  e

   c1_a  c2_e  c2_d
0     1     0     0
1     0     0     1
2     1     1     0

In [72]:
df_.columns

Index(['c1', 'c2'], dtype='object')

In [73]:
oh.transform_many

<bound method OneHotEncoder.transform_many of OneHotEncoder (
  sparse=True
)>

#### One hot encoding in sklearn

In [74]:
import sklearn
from sklearn import preprocessing
oh_sk = sklearn.preprocessing.OneHotEncoder()

In [75]:
oh_sk.fit(df_)

OneHotEncoder()

In [76]:
oh_sk.categories_

[array(['a', 'b'], dtype=object), array(['c', 'd', 'e'], dtype=object)]

In [79]:
oh_sk.transform(df_)

<3x5 sparse matrix of type '<class 'numpy.float64'>'
	with 6 stored elements in Compressed Sparse Row format>

In [81]:
oh_sk.feature_names_in_

array(['c1', 'c2'], dtype=object)

In [82]:
oh_sk.get_feature_names_out()

array(['c1_a', 'c1_b', 'c2_c', 'c2_d', 'c2_e'], dtype=object)