<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Introduction-to-pandas" data-toc-modified-id="Introduction-to-pandas-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Introduction to pandas</a></span></li><li><span><a href="#Add-new-columns-saving-Nan-values-get_dummies_nan" data-toc-modified-id="Add-new-columns-saving-Nan-values-get_dummies_nan-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Add new columns saving Nan values <code>get_dummies_nan</code></a></span></li><li><span><a href="#Compute-nan-features-for-rows:-nan_features" data-toc-modified-id="Compute-nan-features-for-rows:-nan_features-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Compute nan features for rows: <code>nan_features</code></a></span></li><li><span><a href="#Substitute-np.NaN-by-other-values:-MissingImputer-class" data-toc-modified-id="Substitute-np.NaN-by-other-values:-MissingImputer-class-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Substitute <code>np.NaN</code> by other values: <code>MissingImputer</code> class</a></span></li><li><span><a href="#New-columns-from-a-df-column-containing-lists-as-items-(byvalue)" data-toc-modified-id="New-columns-from-a-df-column-containing-lists-as-items-(byvalue)-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>New columns from a df column containing lists as items (<code>byvalue</code>)</a></span></li><li><span><a href="#New-columns-from-a-df-column-containing-lists-as-items-(byorder)" data-toc-modified-id="New-columns-from-a-df-column-containing-lists-as-items-(byorder)-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>New columns from a df column containing lists as items (<code>byorder</code>)</a></span></li></ul></div>

# Introduction to pandas

In [1]:
import pandas as pd
import numpy as np
import scipy
from scipy import stats
import copy
from collections.abc import Iterable

# Add new columns saving Nan values `get_dummies_nan`

In [2]:
df_cars = pd.DataFrame([[2,"mercedes","middleclass"], 
                        [np.NaN,"mercedes","middleclass"],
                        [3,"Audi",np.NaN]],
                        columns= ["members","vehicles","status"])

In [3]:
print(df_cars)

   members  vehicles       status
0      2.0  mercedes  middleclass
1      NaN  mercedes  middleclass
2      3.0      Audi          NaN

In [4]:

def contains_nan(df_col):
    '''
    `contains_nan` checks if a certain column has nans
    '''
    return df_col.isna().any()


def get_dummies_nan(df, return_nancols=False,inplace=False):
    '''
    `get_dummies_nan` creates a new dataframe with binary columns stating wheather variables contain NaNs.
    
    
    
    Examples:
    --------
    
    
    >>> df = pd.DataFrame([[2,"mercedes","middleclass"], 
                           [np.NaN,"mercedes","middleclass"],
                           [3,"Audi",np.NaN]],
                           columns= ["members","vehicles","status"])
    
    >>> df 

           members  vehicles       status
    0      2.0  mercedes  middleclass
    1      NaN  mercedes  middleclass
    2      3.0      Audi          NaN
    
    >>> df_ = get_dummies_nan(df)
    
    >>> df_
    
           members  vehicles       status  members_nan  status_nan
    0      2.0  mercedes  middleclass        False       False
    1      NaN  mercedes  middleclass         True       False
    2      3.0      Audi          NaN        False        True

    >>> df_, nancols = get_dummies_nan(df, return_nancols=True)
    
    >>> nancols
    
    ['members', 'status']

    '''
    def add_nan_columns(df):
        cols_with_nan = []
        for c in df.columns:
            if contains_nan(df[c]):
                cols_with_nan.append(c)
                df[c + "_nan"] = df[c].isna().values    
        return df, cols_with_nan


    if inplace:
        df, cols_with_nan = add_nan_columns(df) 
        if return_nancols:
            return cols_with_nan
    else:
        df_copy = df.copy(deep=True)
        df_copy, cols_with_nan = add_nan_columns(df_copy) 
        
        if return_nancols:
            return df_copy, cols_with_nan
        else:
            return df_copy

In [5]:
df_= get_dummies_nan(df_cars)

In [6]:
df_

   members  vehicles       status  members_nan  status_nan
0      2.0  mercedes  middleclass        False       False
1      NaN  mercedes  middleclass         True       False
2      3.0      Audi          NaN        False        True

In [7]:
df_, nancols = get_dummies_nan(df_cars, return_nancols=True)

In [8]:
nancols

['members', 'status']

# Compute nan features for rows: `nan_features`

In [9]:

def _nan_rowfeatures(df, reduce_methods=[np.mean, np.std], distances=False, inplace=False):
    
    """
    `nan_features` generates new features containing for a given row k the "statistic" returned by a reduce
    operation on row k.
    
    t also computes the difference between the most value of the transformed nans per row and the found value.

    Examples:
    ---------
    >>> df = pd.DataFrame([[2,["p","b",None]], 
                   [3,["a","c",None]],
                  [3,["d","w","a"]]],columns= ["first","second"])
                  
    >>> df
    
       first        second
    0      2  [p, b, None]
    1      3  [a, c, None]
    2      3     [d, w, a]
    
    >>> df_ = nan_rowfeatures(df)
    
    >>> df_

        members  vehicles       status  mean_nans  std_nans
    0      2.0  mercedes  middleclass   0.000000  0.000000
    1      NaN  mercedes  middleclass   0.333333  0.471405
    2      3.0      Audi          NaN   0.333333  0.471405

    """
    def create_col(df, reducer):
        colname     = reducer.__name__ + '_rownans'
        df[colname] = df_cars.apply(lambda x: reducer(pd.isna(x)), axis=1)
        if distances:
            mode        = stats.mode(df[colname])[0]  
            df[colname + '_l1_to_mode' ] = np.abs(df[colname] - mode)
            df[colname + '_l2_to_mode']  = (df[colname] - mode)**2
            
    if inplace:
        for reducer in reduce_methods:
            create_col(df, reducer)
    else:
        df_copy = df.copy(deep=True)
        
        for reducer in reduce_methods:
            create_col(df_copy, reducer)
        return df_copy
    
    

def nan_rowfeatures(df, reduce_methods=[np.mean, np.std], distances=False, inplace=False):
    
    """
    `nan_features` generates new features containing for a given row k the "statistic" returned by a reduce
    operation on row k.
    
    It also computes the difference between the most value of the transformed nans per row and the found value.
    
    Examples:
    ---------
    >>> df = pd.DataFrame([[2,["p","b",None]], 
                   [3,["a","c",None]],
                  [3,["d","w","a"]]],columns= ["first","second"])
                  
    >>> df
    
       first        second
    0      2  [p, b, None]
    1      3  [a, c, None]
    2      3     [d, w, a]
    
    >>> df_ = nan_rowfeatures(df)
    
    >>> df_

       members  vehicles       status  mean_rownans  std_rownans
    0      2.0  mercedes  middleclass      0.000000     0.000000
    1      NaN  mercedes  middleclass      0.333333     0.433013
    2      3.0      Audi          NaN      0.333333     0.433013
    
    >>> df_ = nan_rowfeatures(df, distances=True)

           members  vehicles       status  mean_rownans  mean_rownans_l1_to_mode  \
    0      2.0  mercedes  middleclass      0.000000                 0.333333   
    1      NaN  mercedes  middleclass      0.333333                 0.000000   
    2      3.0      Audi          NaN      0.333333                 0.000000   

       mean_rownans_l2_to_mode  std_rownans  std_rownans_l1_to_mode  \
    0                 0.111111     0.000000                0.372678   
    1                 0.000000     0.372678                0.000000   
    2                 0.000000     0.372678                0.000000   

       std_rownans_l2_to_mode  
    0                0.138889  
    1                0.000000  
    2                0.000000  

    """
    
    def create_col(df, reducer):
        colname                       = reducer.__name__ + '_rownans'
        df[colname]                   = reducer(pd.isna(df),axis=1)
        if distances:
            mode                          = stats.mode(df[colname])[0]  
            df[colname + '_l1_to_mode']   = np.abs(mode - df[colname])
            df[colname + '_l2_to_mode']   = (mode - df[colname])**2
            
    if inplace:
        for reducer in reduce_methods:
            create_col(df, reducer)
    else:
        df_copy = df.copy(deep=True)
        
        for reducer in reduce_methods:
            create_col(df_copy, reducer)

        return df_copy

In [10]:
%%time
_nan_rowfeatures(df_cars)

CPU times: user 12 ms, sys: 0 ns, total: 12 ms
Wall time: 17.1 ms

   members  vehicles       status  mean_rownans  std_rownans
0      2.0  mercedes  middleclass      0.000000     0.000000
1      NaN  mercedes  middleclass      0.333333     0.471405
2      3.0      Audi          NaN      0.333333     0.471405

In [11]:
%%time
nan_rowfeatures(df_cars)

CPU times: user 4 ms, sys: 0 ns, total: 4 ms
Wall time: 6.15 ms

   members  vehicles       status  mean_rownans  std_rownans
0      2.0  mercedes  middleclass      0.000000     0.000000
1      NaN  mercedes  middleclass      0.333333     0.433013
2      3.0      Audi          NaN      0.333333     0.433013

In [12]:
nan_rowfeatures(df_cars, distances=True)

,members,vehicles,status,mean_rownans,mean_rownans_l1_to_mode,mean_rownans_l2_to_mode,std_rownans,std_rownans_l1_to_mode,std_rownans_l2_to_mode
0,2.0,mercedes,middleclass,0.000000,0.333333,0.111111,0.000000,0.372678,0.138889
1,NaN,mercedes,middleclass,0.333333,0.000000,0.000000,0.372678,0.000000,0.000000
2,3.0,Audi,NaN,0.333333,0.000000,0.000000,0.372678,0.000000,0.000000

# Substitute `np.NaN` by other values: `MissingImputer` class

In [13]:
from sklearn.base import BaseEstimator, TransformerMixin

In [14]:

class _MissingImputer(BaseEstimator, TransformerMixin):
    '''
    `MissingImputer` implements a `fit` and `transform` methods that enable replacing np.NaN values by numerical values.

    This class uses an insane amount of RAM.
    '''
    def __init__(self, treatment="mean"):
        self._allowed_treatments = ["fixed_value", "mean",'median','mode','None',"most_frequent"]     
        assert treatment in self._allowed_treatments or isinstance(treatment,(int,float)),  "the treatment introduced {} is not valid. Please use one in {}".format(treatment, self._allowed_treatments)
        self.treatment = treatment
    
    def fit(self, X, y):
        """
        Learns statistics to impute nans.
        """
        
        if self.treatment == "mean" or self.treatment==None:
            self.treatment_method = sklearn.impute.SimpleImputer(missing_values=np.nan, strategy='mean')
        elif self.treatment == "median":
            self.treatment_method = sklearn.impute.SimpleImputer(missing_values=np.nan, strategy='median')
        elif self.treatment == "most_frequent":
            self.treatment_method = sklearn.impute.SimpleImputer(missing_values=np.nan, strategy='most_frequent')
        elif isinstance(self.treatment, (int,float)):
            self.treatment_method = sklearn.impute.SimpleImputer(missing_values=np.nan,
                                                                 strategy="constant",fill_value=self.treatment)       
        
        if isinstance(X, np.ndarray):   
            self.treatment_method.fit(X)
            
        if isinstance(X, pd.DataFrame):       
            self.treatment_method.fit(X.values)
        
        return self

    def transform(self, X):
        if self.treatment==None:
            return X
        return self.treatment_method.transform(X)

In [15]:
import sklearn
from sklearn import *
d = sklearn.datasets.load_iris()
X, y = d["data"], d["target"]

X[0,0] = np.NaN
X[1,2] = np.NaN
X[2,3] = np.NaN
X[0,2] = np.NaN

In [16]:
X[0:3]

array([[nan, 3.5, nan, 0.2],
       [4.9, 3. , nan, 0.2],
       [4.7, 3.2, 1.3, nan]])

In [17]:
imputer = _MissingImputer(treatment="mean")
imputer.fit(X,y)
imputer.transform(X)[0:3]

array([[5.84832215, 3.5       , 3.78986486, 0.2       ],
       [4.9       , 3.        , 3.78986486, 0.2       ],
       [4.7       , 3.2       , 1.3       , 1.20604027]])

In [18]:
imputer = _MissingImputer(treatment="median")
imputer.fit(X,y)
imputer.transform(X)[0:3]

array([[5.8, 3.5, 4.4, 0.2],
       [4.9, 3. , 4.4, 0.2],
       [4.7, 3.2, 1.3, 1.3]])

In [19]:
imputer = _MissingImputer(treatment="most_frequent")
imputer.fit(X,y)
imputer.transform(X)[0:3]

array([[5. , 3.5, 1.5, 0.2],
       [4.9, 3. , 1.5, 0.2],
       [4.7, 3.2, 1.3, 0.2]])

In [20]:
%%timeit
imputer = _MissingImputer(treatment="most_frequent")
imputer.fit(X,y)

635 µs ± 37 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

##### Improving MissingImputer

make it work for dataframes and numpy arrays in a natural way

In [21]:

class NaNTransformer():
    def __init__(self, reducer=stats.mode):
        self.reducer = reducer
        self.col_id  = None 
        
    def fit(self, X_col, col_id):
        self.col_id = col_id
        self.learned_value = self.reducer(X_col)[0]
        
    def transform(self, X_col):
        X_col[pd.isna(X_col)] = self.learned_value
        return X_col

def itercols(X):
    
    if isinstance(X, np.ndarray):
        for i in range(X.shape[1]):
            yield i, X[:,i]
            
    if isinstance(X, pd.DataFrame):
        for colname in X:
            yield colname, X[colname]  
        
def get_col(X, col_id):
    
    if isinstance(X, np.ndarray):
        return  X[:,col_id]
            
    if isinstance(X, pd.DataFrame):
        return  X[col_id]  
             
        
class MissingImputer(BaseEstimator, TransformerMixin):
    '''
    `MissingImputer` implements a `fit` and `transform` methods that enable replacing np.NaN values by numerical values.

    This class less RAM han _MissingImputer
    '''
    def __init__(self, treatment=stats.mode):
        self._allowed_treatments = [np.mean, np.median, stats.mode]     
        assert treatment in self._allowed_treatments or isinstance(treatment,(int,float)),  "the treatment introduced {} is not valid. Please use one in {}".format(treatment, self._allowed_treatments)
        self.treatment = treatment
    
    def fit(self, X, y):
        """
        Learns statistics to impute nans.
        """
        
        col_transformers = {}
        
        for col_id, X_col in itercols(X):
            nan_transformer = NaNTransformer(reducer=self.treatment) 
            nan_transformer.fit(X_col, col_id = col_id)
            col_transformers[col_id] = nan_transformer            
                
        self.col_transformers = col_transformers
        return self

    def transform(self, X, inplace = False):
        """
        Method for transforming a dataframe of numpy array X replacing the np.NaN values.
        
        Notice that this method has a for loop over `self.col_transformers` instead of iterating over `itercols(X)`
        the main reason is that after `fit(X,y)` is done, a user might change `X`, introducing new columns that we
        don't want to iterave over (because we don't have a col_transformer for those new columns).

        -  If X is a dataframe users can change the order of the columns and still be able to use the transform method.
        
        -  If X is a numpy array then results will be corrupted because we don't have pointers to columns.
           Notice that if X is a numpy array `col_transformer` uses the indices of the columns found during `.fit(X,y)`.

        """
        
        if inplace:

            if self.treatment==None:
                return None

            #for col_id, X_col in itercols(X):
            #    X_col = self.col_transformers[col_id].transform(X_col)
            for col_id in self.nan_transformers:
                X_col = get_col(X, col_id)
                X_col = self.col_transformers[col_id].transform(X_col)
                
        else:
            X_copy = copy.deepcopy(X)
            
            if self.treatment==None:
                return X_copy
            
            #for col_id, X_col in itercols(X_copy):
            #    X_col = self.col_transformers[col_id].transform(X_col)
            for col_id in self.col_transformers:
                X_col = get_col(X_copy, col_id)
                X_col = self.col_transformers[col_id].transform(X_col)
                
            return X_copy

In [22]:
import sklearn
from sklearn import *
d = sklearn.datasets.load_iris()
X, y = d["data"], d["target"]

X[0,0] = np.NaN
X[1,2] = np.NaN
X[2,3] = np.NaN
X[0,2] = np.NaN

In [23]:
X[0:4]

array([[nan, 3.5, nan, 0.2],
       [4.9, 3. , nan, 0.2],
       [4.7, 3.2, 1.3, nan],
       [4.6, 3.1, 1.5, 0.2]])

In [24]:
pd.isna(X[0:4])

array([[ True, False,  True, False],
       [False, False,  True, False],
       [False, False, False,  True],
       [False, False, False, False]])

In [25]:
imputer = MissingImputer()

In [26]:
imputer.fit(X,y)

MissingImputer(treatment=<function mode at 0x7f23798ce6a8>)

In [27]:
imputer.col_transformers

{0: <__main__.NaNTransformer at 0x7f23760636a0>,
 1: <__main__.NaNTransformer at 0x7f2376063550>,
 2: <__main__.NaNTransformer at 0x7f23760637f0>,
 3: <__main__.NaNTransformer at 0x7f2376063940>}

In [28]:
#%%timeit
imputer = MissingImputer(treatment=stats.mode)
imputer.fit(X,y)

a = imputer.transform(X)

In [29]:
a[0:4]

array([[5. , 3.5, 1.5, 0.2],
       [4.9, 3. , 1.5, 0.2],
       [4.7, 3.2, 1.3, 0.2],
       [4.6, 3.1, 1.5, 0.2]])

In [30]:
X[0:4]

array([[nan, 3.5, nan, 0.2],
       [4.9, 3. , nan, 0.2],
       [4.7, 3.2, 1.3, nan],
       [4.6, 3.1, 1.5, 0.2]])

# New columns from a df column containing lists as items (`byvalue`)

In [344]:
df_cars = pd.DataFrame([[2,["mercedes","toyota",np.nan],"middleclass"], 
                        [3,["Renault","Mercedes",np.nan],"middleclass"],
                        [3,["Audi","Mercedes","Tesla"],"uppermiddleclass"]],
                        columns= ["members","vehicles","status"])

df_cars

   members                  vehicles            status
0        2   [mercedes, toyota, nan]       middleclass
1        3  [Renault, Mercedes, nan]       middleclass
2        3   [Audi, Mercedes, Tesla]  uppermiddleclass

In [354]:
def onehot_collist_byvalue(collist, values_to_index):
    """
    
    `onehot_collist_byvalue` generates a np.ndarray containing the one hot representation of the input collist
     The returned array stores at position `(i,j)` a 1 if the linked column to integer `j` has a name  found 
     in `collist[i]`.

    ##### Example 
    
    collist         = [["tesla"], ["mercedes", "audi"], ["toyota", "mercedes", "tesla"]]
    values_to_index = {'audi':0, 'mercedes':1, 'tesla':2. 'toyota':3}
    
    The returned array should be:

        [0 0 1 0
         1 1 0 0
         0 1 1 1]
    
    ## INPUTS
    
    values_to_index: dict
    
    Dictionary asigning an index to all the possible values in the different lists o collist.
    
    
    ## OUPTUT
    
    onehot_matrix: np.ndarray
    
    Numpy matrix storing at position `(i,j)` the existance of value `j` in the list `collist[i]`.
    
    """
    
    n_rows = len(collist)
    n_cols = len(values_to_index)
    result = np.zeros((n_rows, n_cols), dtype=np.bool)   
    
    for k,row in enumerate(collist):
        for element in row:
            element_index = values_to_index[str(element)]
            result[k, element_index] = 1
            
    return result

In [355]:
collist = [["tesla"], ["mercedes", "audi"], ["toyota", "mercedes", "tesla"], ["mercedes"], ["audi"]]

In [356]:
unique_values = list(set([str(x).lower() for x in itertools.chain(*df_cars[colname].values)]))
colnames   = [colname + "_" + str(i) for i in unique_values]   
n_unique_values = len(unique_values)
colnames.sort()
unique_values.sort()
unique_values_to_index = {val:i for i,val in enumerate(unique_values)}

In [357]:
unique_values_to_index

{'audi': 0, 'mercedes': 1, 'nan': 2, 'renault': 3, 'tesla': 4, 'toyota': 5}

In [358]:
onehot_collist_byvalue(collist, unique_values_to_index)

array([[False, False, False, False,  True, False],
       [ True,  True, False, False, False, False],
       [False,  True, False, False,  True,  True],
       [False,  True, False, False, False, False],
       [ True, False, False, False, False, False]])

Now we can call `onehot_collist_byvalue` inside `proc_df_collist_byvalue` and return a pandas dataframe

In [403]:
def proc_df_collist_byvalue(df: pd.DataFrame, colname: str, inplace=False):
    """
    
    `proc_df_collist` takes a dataframe and a column made of lists and generates new columns which write the
    values contained in the original lists in a consecutive order.
    
    For each position in the list it generates a new column. The total number of columns 
    equals the length of the largest list in `df[colname]`. 
    
    - Each new collumn  k is filled with the values of the lists at position k.
    
    - If the value does not exist (because the position does not exist) the position is filled with `NaN`. 
    
    Given `df`  and `colname`, create as many new columns as `len(df[colname].iloc[0])`
    Write in column `colname_k[j]` the value found `df[colname].iloc[j][k]`.
    
    Examples:
    ---------
    >>> df = pd.DataFrame([[2,["p","b",np.nan]], 
                           [3,["a","c",np.nan]],
                           [3,["d","w","a"]]],
                           columns= ["first","second"])
                  
    >>> df
    
       first        second
    0      2   [p, b, nan]
    1      3   [a, c, nan]
    2      3     [d, w, a]

    >>> newcols = proc_df_collist_byorder(df, "second")

    >>> newcols
    
       second_a  second_b  second_c  second_d  second_nan  second_p  second_w
    0     False      True     False     False        True      True     False
    1      True     False      True     False        True     False     False
    2      True     False     False      True       False     False      True

    
    >>> df2 = pd.DataFrame([[2,["p"]], 
                   [3,["a",2,3]],
                   [3,[4]]],columns= ["A","B"])
                   
    >>> df2
    
       A          B
    0  2        [p]
    1  3  [a, 2, 3]
    2  3        [4]

    >>> proc_df_collist_byorder(df2, "B")

      B_0  B_1  B_2
    0   p  NaN  NaN
    1   a  2.0  3.0
    2   4  NaN  NaN

    """
    assert isinstance(colname, str), "type(columname)={} but it should be str".format(type(str))
    assert isinstance(df[colname].iloc[0],(list,set, np.ndarray)), "type(df[colname].iloc[0])={} but it, should be in [list, set, np.ndarray]".format(type(df[colname].iloc[0]))
    
    unique_values = list(set([str(x) for x in itertools.chain(*df[colname].values)]))
    colnames   = [colname + "_" + str(i) for i in unique_values]   
    n_unique_values = len(unique_values)
    colnames.sort()
    unique_values.sort()
    
    unique_values_to_index = {val:i for i,val in enumerate(unique_values)} 
    onehot_array = onehot_collist_byvalue(df[colname], unique_values_to_index)
    
    onehot_df    = pd.DataFrame(onehot_array, columns=[f"{colname}_{c}" for c in unique_values])
    
    return onehot_df

In [404]:
df = pd.DataFrame([[2,["p","b",np.nan]], 
                   [3,["a","c",np.nan]],
                   [3,["d","w","a"]]],
                   columns= ["first","second"])

In [405]:
df

   first       second
0      2  [p, b, nan]
1      3  [a, c, nan]
2      3    [d, w, a]

In [406]:
aux = proc_df_collist_byvalue(df, "second")

In [407]:
print(str(aux))

   second_a  second_b  second_c  second_d  second_nan  second_p  second_w
0     False      True     False     False        True      True     False
1      True     False      True     False        True     False     False
2      True     False     False      True       False     False      True

# New columns from a df column containing lists as items (`byorder`)

Column `vehicles` contains lists with different vehicle names. Let us assume we consider this feature to be a list or the ordered vehicles a family has.

For example: Family 0 has 2 vehicles, and the most used one is a Mercedes, then a Toyota.

Now we want to create 3 features from this column: `vehicle_1`, `vehicle_2`, `vehicle_3` and write the different
items in the corresponding columns (the corresponding column depends on the position of the elements in the list, not on the values of the elements in the list). If you want to create `vehicle_mercedes`, `vehicle_toyota` etc look at the previous function `proc_df_collist_byvalue`.

In [339]:
df_cars = pd.DataFrame([[2,["mercedes","toyota",np.nan],"middleclass"], 
                        [3,["Renault","Mercedes",np.nan],"middleclass"],
                        [3,["Audi","Mercedes","Tesla"],"uppermiddleclass"]],
                        columns= ["members","vehicles","status"])

df_cars

   members                  vehicles            status
0        2   [mercedes, toyota, nan]       middleclass
1        3  [Renault, Mercedes, nan]       middleclass
2        3   [Audi, Mercedes, Tesla]  uppermiddleclass

In [333]:
def proc_df_collist_byorder(df: pd.DataFrame, colname: str, inplace=False):
    """
    
    `proc_df_collist` takes a dataframe and a column made of lists and generates new columns which write the
    values contained in the original lists in a consecutive order.
    
    For each position in the list it generates a new column. The total number of columns 
    equals the length of the largest list in `df[colname]`. 
    
    - Each new collumn  k is filled with the values of the lists at position k.
    
    - If the value does not exist (because the position does not exist) the position is filled with `NaN`. 
    
    Given `df`  and `colname`, create as many new columns as `len(df[colname].iloc[0])`
    Write in column `colname_k[j]` the value found `df[colname].iloc[j][k]`.
    
    
    Examples:
    ---------
    >>> df = pd.DataFrame([[2, ["p", "b", np.nan]], 
                           [3, ["a", "c", np.nan]],
                           [3, ["d", "w", "a"]]],
                           columns= ["first","second"])

    >>> df
    
       first        second
    0      2  [p, b, nan]
    1      3  [a, c, nan]
    2      3     [d, w, a]

    >>> newcols = proc_df_collist_byorder(df, "second")

    >>> newcols
    
          second_0 second_1 second_2
    0        p        b     None
    1        a        c     None
    2        d        w        a

    
    >>> df2 = pd.DataFrame([[2,["p"]], 
                   [3,["a",2,3]],
                   [3,[4]]],columns= ["A","B"])
                   
    >>> df2
    
       A          B
    0  2        [p]
    1  3  [a, 2, 3]
    2  3        [4]

    >>> proc_df_collist_byorder(df2, "B")

      B_0  B_1  B_2
    0   p  NaN  NaN
    1   a  2.0  3.0
    2   4  NaN  NaN

    """
    assert isinstance(df, pd.DataFrame), "type(df)={} but it should be pd.DataFrame".format(type(df))
    assert isinstance(colname, str), "type(columname)={} but it should be str".format(type(str))
    assert isinstance(df[colname].iloc[0],(list,set, np.ndarray)), "type(df[colname].iloc[0])={} but it, should be in [list, set, np.ndarray]".format(type(df[colname].iloc[0]))
    
    
    #n_new_cols = len(df[colname].iloc[0])
    n_new_cols = df[colname].apply(len).max()
    colnames   = [colname + "_" + str(i) for i in range(n_new_cols)]   
    
    return pd.DataFrame(df[colname].tolist(), columns=colnames)

In [334]:
df = pd.DataFrame([[2, ["p", "b", np.nan]], 
                   [3, ["a", "c", np.nan]],
                   [3, ["d", "w", "a"]]],
                   columns= ["first","second"])

In [335]:
df

   first       second
0      2  [p, b, nan]
1      3  [a, c, nan]
2      3    [d, w, a]

In [336]:
proc_df_collist_byorder(df, "second")

  second_0 second_1 second_2
0        p        b      NaN
1        a        c      NaN
2        d        w        a

If the column passed to `proc_df_collist` contains iterables with different sizes then it will generate as many colums as the longest iterable. Then it will fill with `NaN`  positions where we don't have information

In [337]:
df2 = pd.DataFrame([[2,["p"]], 
                   [3,["a",2,3]],
                   [3,[4]]],columns= ["A","B"])

In [338]:
proc_df_collist_byorder(df2, "B")

  B_0  B_1  B_2
0   p  NaN  NaN
1   a  2.0  3.0
2   4  NaN  NaN