In [10]:
import pyarrow as pa
import pandas as pd
import pyarrow.compute as pc

t = pa.table([
      pa.array(["a", "a", "b", "b", "c"]),
      pa.array(["i1","i2","i3","i4","i5"]),
      pa.array([1, 2, 3, 4, 5]),
], names=["keys", "ids", "values"])

In [12]:
pc.aggr

In [3]:
t

pyarrow.Table
keys: string
ids: string
values: int64
----
keys: [["a","a","b","b","c"]]
ids: [["i1","i2","i3","i4","i5"]]
values: [[1,2,3,4,5]]

In [7]:
t.group_by("keys").aggregate([([],"count_all")])

pyarrow.Table
keys: string
count_all: int64
----
keys: [["a","b","c"]]
count_all: [[2,2,1]]

In [32]:
import pyarrow as pa
import pyarrow.compute as pc

# Define the table
t = pa.table([
      pa.array(["a", "a", "b", "b", "c"]),
      pa.array(["i1","i2","i3","i4","i5"]),
      pa.array([1, 2, 3, 4, 5]),
], names=["keys", "ids", "values"])

# Get unique keys
unique_keys = pc.unique(t["keys"])

# Create a dictionary to store the result
grouped_tables = {}

# Group by unique keys
for key in unique_keys:
    
    # Create a boolean mask to filter rows corresponding to the current key
    mask = pc.equal(t["keys"], key)
    
    # Filter the table using the mask
    filtered_table = t.filter(mask)
    
    # Remove the "keys" column to only keep "ids" and "values"
    filtered_table = filtered_table.drop(["keys"])
    
    # Store the filtered table in the dictionary with the key as the dictionary key
    grouped_tables[key.as_py()] = filtered_table

# Show the result
grouped_tables

{'a': pyarrow.Table
 ids: string
 values: int64
 ----
 ids: [["i1","i2"]]
 values: [[1,2]],
 'b': pyarrow.Table
 ids: string
 values: int64
 ----
 ids: [["i3","i4"]]
 values: [[3,4]],
 'c': pyarrow.Table
 ids: string
 values: int64
 ----
 ids: [["i5"]]
 values: [[5]]}

In [36]:
grouped_tables['a'].to_pandas()

  ids  values
0  i1       1
1  i2       2